*{
  margin: 0;
  padding: 0;
  box-sizng: border-box;
}

h1 {
   display: flex;
   background-color: royalblue;
   color: white;
   justify-content: center;
   font-family: "Meddon";
}

h4 {
   display: flex;
   background-color: royalblue;
   color: white;
   justify-content: center;
   font-family: "serif";

}

img {
  object-fit: cover;
  height: 400px;
  width: 300px;
  max-width: 100%;
  max-height: 100%;
  margin: 40px;
    box-shadow: 50px 50px 20px #474747;
}

.photos {
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 200px;
}
